* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    color: #03262c;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
h1 {
    font-size: 48px;
    line-height: 0.5;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    line-height: 0.667;
    font-weight: 700;
    text-transform: uppercase;
}
h3 {
    font-size: 28px;
    text-transform: uppercase;
}
h4 {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0 25px 0;
}
embed,
iframe,
img,
object {
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a,
a:active,
a:focus,
a:hover,
button {
    text-decoration: none;
    outline: 0;
}
a:active,
a:focus,
a:hover {
    color: #007aff;
}
li a {
    color: #fff;
}
a:hover,
button:hover {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.section-title {
    font-size: 40px;
    font-weight: 600;
    color: #061738;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.section-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #061738;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    width: 600px;
    margin: 0 auto;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #36970e;
}
.slick-dots li button:before {
    color: #36970e;
}

.slick-prev:before,
.slick-next:before {
    color: #177b06;
}

/*Calsses css*/

.hidden {
    display: none;
}

.position-bottom-right {
    position: absolute !important;
    bottom: 15px;
    right: 10px;
}

.position-bottom-left {
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.position-top-right {
    position: absolute;
    top: 15px;
    right: 10px;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rounded-icon {
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.rounded-icon i {
    font-size: 20px;
    line-height: 50px;
    color: #5cb917;
}

.btn {
    position: relative;
    color: #fff;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 11px 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.btn::after {
    content: "";
    position: absolute;
    height: 100%;
    z-index: -1;
    bottom: auto;
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #0f7404, #5cb917);
    background: linear-gradient(to right, #0f7404, #5cb917);
    top: 0;
    left: 0;
    width: 100%;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn:hover,
.btn:focus {
    color: #0f7404;
    border-color: #0f7404;
    outline: 0;
    background: #ffffff;
}

.btn:focus::after,
.btn:hover::after {
    height: 0;
}
.border-radius-0 {
    border-radius: 0;
}
.border-transparent {
    border-color: transparent;
}
.underline {
    text-decoration-line: underline;
}

/*HEADER STYLE CSS START*/

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    transition: all 0.3s;
}


.header {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    z-index: 2;
}
.navbar {
    background: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 50px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0rem;
    width: 75px;
    margin-bottom: 0px;
    margin-top: -10px;
}

.navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    outline: transparent;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding: 5px 20px;
    margin: 0px 2px;
    z-index: 1;
}

.navbar-light .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 100%;
    background: linear-gradient(to right, #0f7404, #5cb917);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
    border-radius: 3px;
}

.navbar-light .navbar-nav .nav-link:focus::before,
.navbar-light .navbar-nav .nav-link:hover::before {
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fafafa;
}

.header-content {
    display: inline-block;
    display: flex;
}

.header_contact {
    display: inline-block;
}

.header_contact span {
    color: #60cd12;
    display: block;
    font-weight: 700;
    font-size: 14px;
    margin-right: 10px;
}

.header_icon {
    height: 45px;
    width: 45px;
    text-align: center;
    background-color: #13424a;
    border-radius: 50%;
    margin-left: 30px;
}

.header_icon i {
    color: #fff;
    font-size: 24px;
    line-height: 1.9;
}

.header_icon {
    display: inline-block;
    position: relative;
}

/*HEADER STYLE CSS END*/

/*BANNER STYLE CSS START*/

.full-banner {
    padding: 285px 200px;
    background: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-content h1 {
    font-size: 115px;
    line-height: 1.4;
    font-weight: 700;
}

.banner-content h1 span {
    color: #1d8007;
    font-weight: 600;
}

.banner-content h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    background-color: #03262c;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: capitalize;
}

.banner-content p {
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    width: 500px;
    line-height: 1.6;
    margin-top: 20px;
}

.banner-content .btn {
    position: relative;
    color: #fff;
    z-index: 1;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 35px;
    padding: 11px 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 15px;
}

.banner-content .btn::after {
    content: "";
    position: absolute;
    height: 100%;
    z-index: -1;
    bottom: auto;
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #0f7404, #5cb917);
    background: linear-gradient(to right, #0f7404, #5cb917);
    top: 0;
    left: 0;
    width: 100%;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.banner-content .btn:hover,
.banner-content .btn:focus {
    color: #0f7404;
    border-color: #0f7404;
    outline: 0;
}

.banner-content .btn:focus::after,
.btn:hover::after {
    height: 0;
}

/*BANNER STYLE CSS END*/

/*FOOTPRINT STYLE CSS START*/
.full-features {
    padding: 100px 0px;
}

.features-box {
    background-color: transparent;
    border: 1.5px solid #e2f6de;
    padding: 100px 0px;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}



.features-box .features-icon-border {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #e2f6de;
    padding: 13px;
    display: inline-block;
}

.features-box .features-icon {
    height: 65px;
    width: 65px;
    background-color: #e2f6de;
    margin: auto;
    border-radius: 50%;
}

.features-box .features-icon i {
    text-align: center;
    font-size: 37px;
    line-height: 1.8;
    color: #36970e;
}

.features-box h3 {
    color: #03262c;
    font-size: 30px;
    text-transform: capitalize;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    margin-top: 10px;
}

.features-box:hover {
    background-color: #03262c;
    border-color: #03262c;
}

.features-box:hover h3 {
    color: #fff;
}

.features-box:hover .features-icon {
    background-color: #36970e;
}

.features-box:hover .features-icon i {
    color: #fff;
}

.features-box:hover .features-icon-border {
    border-color: #36970e;
}

.features-box:hover h3 {
    color: #fff;
}

.features-box:hover::before {
    opacity: 1;
}

/*FOOTPRINT STYLE CSS END*/

/*ABOUT US STYLE CSS START*/
.full-about {
    min-height: 200px;
    background: url(../img/about-us_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 180px 0;
    margin-bottom: 100px;
    position: relative;
    /*overflow: hidden;*/
}

.full-about .about-content h3 {
    color: #061738;
    font-size: 55px;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
}

.full-about .about-content .about-details {
    text-align: justify;
    text-justify: inter-word;
}

.full-about .about-content .about-details p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    width: 450px;
    line-height: 1.6;
    margin-top: 20px;
    color: #061738;
}
.full-about .about-content .about-details p:first-child {
    font-weight: 600;
}

.about-icon-text {
    display: flex;
    margin-top: 20px;
}
.abt-icon {
    width: 15%;
}

.abt-text {
    width: 85%;
}

.about-icon-text .abt-icon {
    height: 80px;
    width: 15%;
    background-color: #e2f6de;
    border-radius: 50%;
    text-align: center;
    line-height: 98px;
}

.about-icon-text .abt-icon i {
    text-align: center;
    font-size: 50px;
    line-height: 1.6;
    color: #36970e;
    cursor: pointer;
}

.about-icon-text .abt-text h2 {
    font-size: 30px;
    line-height: 1.1;
    margin-left: 30px;
    margin-right: 100px;
    text-transform: capitalize;
    color: #061738;
}
.about-icon-text .abt-text h2 span {
    color: #1d8007;
}

.about-title h2 {
    font-size: 200px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 235px;
    left: -100px;
    z-index: 9;
    transform: rotate(-90deg);
}
/*ABOUT US STYLE CSS END*/

/*SLIDER CSS START*/
.product-slider {
    position: relative;
}
.product-slider .slick-prev:before,
.product-slider .slick-next:before {
    color: #061738;
}
.product-slider .slick-next {
    position: absolute;
    top: -90px;
    right: 20px;
    height: 45px;
    width: 45px;
    border: 1px solid #bcbcbc;
    text-align: center;
    line-height: 63px;
    color: #222;
}

.product-slider .slick-prev {
    position: absolute;
    top: -90px;
    left: 88%;
    height: 45px;
    width: 45px;
    border: 1px solid #bcbcbc;
    text-align: center;
    line-height: 63px;
    color: #222;
}

/*SLIDER CSS END*/

/*QUOTE PART CSS START*/
.quote-bg {
    padding: 100px 0;
    position: relative;
    background: url(../img/quote-bg.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    margin-bottom: 100px;
}



.quote-statement {
    font-size: 60px;
    width: 630px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    margin: 0 auto;
}
/*QUOTE PART CSS END*/

/*OUR TEAM PART CSS START*/
.our-team {
    margin-bottom: 100px;
}

.team-member-text {
    min-height: 250px;
    background: url(../img/our-team_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 75px 50px;
    color: #fff;
    text-align: right;
    position: relative;
}

.team-member-info p {
    font-size: 23px;
    font-family: "Barlow Condensed", sans-serif;
    line-height: 1.2;
    font-weight: 500;
}

.team-member-info h3 {
    margin-top: 50px;
    text-transform: capitalize;
    color: #03262c;
    font-weight: 700;
    font-size: 30px;
}

.team-member-info h4 {
    margin-top: 15px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
.our-team .icofont-double-right {
    position: absolute;
    top: 80%;
    left: 20%;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 2px solid #07322a;
    border-radius: 50%;
    line-height: 47px;
    font-size: 20px;
    color: #07322a;
    z-index: 1;
    cursor: pointer;
}
.our-team .icofont-double-right:hover {
    border-color: #fff;
    background-color: #fff;
    color: #07322a;
}
.our-team .icofont-double-left {
    position: absolute;
    top: 80%;
    left: 10%;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 2px solid #07322a;
    border-radius: 50%;
    line-height: 47px;
    font-size: 20px;
    color: #07322a;
    z-index: 1;
    cursor: pointer;
}
.our-team .icofont-double-left:hover {
    border-color: #fff;
    background-color: #fff;
    color: #07322a;
}

/*OUR TEAM PART CSS END*/

/* METHODOLOGY-BANNER PART CSS START*/
.methodology_bg_section {
    background: url(../img/methodology_bg.jpg);
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding-top: 150px;
    padding-bottom: 120px;
    position: relative;
}

.png_img {
    position: absolute;
    width: 200px;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.methodology_bgsection_content h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 10px;
    text-transform: capitalize;
}

/*METHODOLOGY-BANNER PART CSS END*/

/*METHODOLOGY PART CSS START*/

.methodology_part {
    padding-top: 80px;
}

.methodology_content h4 {
    font-size: 46px;
    font-weight: 700;
    padding-bottom: 15px;
    color: #03262c;
}

.methodology_content p {
    font-size: 18px;
    font-weight: 400;
    color: #727474;
    line-height: 1.5;
    margin-bottom: 20px;
}
/*METHODOLOGY PART CSS END*/

/*FOOTER TOP PART CSS START */

.contact-us {
    background: url(../img/contact-us-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 200px;
    padding-bottom: 100px;
}

.footer_widget_title h2 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    padding-bottom: 45px;
    text-transform: capitalize;
    line-height: 1.1;
}

.footer_widget_content li {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
}

.footer_widget_content li span {
    color: #54b215;
}


.footer_widget_content li {
    padding: 2px 0;
}

.footer_widget_content li:hover a {
    color: #58b516;
}

.footer_widget_content li i {
    font-size: 16px;
    color: #fff;
    padding-right: 15px;
    transition: all 0.3s;
}

.footer_widget_content li:hover i {
    color: #58b516;
}

/*FOOTER TOP PART CSS END*/

/*FOOTER BOTTOM PART CSS START*/
.footer_bottom {
    background: linear-gradient(to right, #0f7404, #5cb917);
}

.footer_txt p {
    font-size: 16px;
    color: #d6dbe6;
    padding-top: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}

.footer_txt p span {
    color: #061738;
}
/*FOOTER BOTTOM PART CSS END*/

